/* set box size of all elements */
* {
  box-sizing: border-box;
}

/* set style of body element */
body {
  background-color: #34495e;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98vh;
  overflow: hidden;
}

/* set style of h1 element */
h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 60px;
}

/* set style of game container */
.game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
}

/* set style of figure container */
.figure-container {
  fill: rgb(31, 96, 192);
  stroke: rgb(206, 187, 17);
  stroke-width: 8px;
  stroke-linecap: round;
}

/* set style of wrong letters container */
.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

/* set style of p elements in wrong letters container */
.wrong-letters-container p {
  margin: 0 0 5px;
}

/* set style of span elements in wrong letters container */
.wrong-letters-container span {
  font-size: 24px;
}

/* set style of word class*/
.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

/* set style of letter class */
.letter {
  border-bottom: 6px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

/* set style of pop up container */
.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

/* set style of popup itself */
.popup {
  background: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

/* set style of popup button element */
.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

/* set style of notification container */
.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 10px 10px;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  transition: transform 0.5s ease-in-out;
}

/* set style of p elements in notification container */
.notification-container p {
  margin: 0;
}

/* set the amount that the notification translates by */
.notification-container.show {
  transform: translateY(-10vw);
}

/* set style of help container  */
#help-container {
  border-radius: 10px 10px 10px 10px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px 20px;
  align-items: center;
  justify-content: center;
}

/* set style of p element in help container  */
#help-container p {
  border-radius: 10px 10px 10px 10px;
  background-color: #2980b9;
  padding: 15px 20px;
  color: #070707;
  align-items: center;
  justify-content: center;
}

/* set style of help button */
.help-button {
  border-radius: 10px 10px 10px 10px;
  width: 60px;
  height: 40px;
  background-color: #2980b9;
}

/* set style of reset button */
.restart-button {
  border-radius: 10px 10px 10px 10px;
  width: 80px;
  height: 40px;
  margin-left: 300px;
  background-color: #2980b9;
}
